/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#divMapa {
  width: 500px;
  height: 800px;
  border: 1px solid rgb(62, 21, 196);
}
.img{

  height: 500px;
  width: 200px;
  border: grey;


}
