
body{
    margin: 0;
    text-align: center;
}
.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
    position: relative;
    background-color: rgb(31, 182, 112);
}
.formulario__titulo{
    text-align: center;
    margin-top:0;
    color: rgba(0, 0, 0, 0.7);
}
.formulario__input, .formulario__label, 
.form__summit {

    display: block;
    width: 100%;
    font-size: 1.3cm;
}
.formulario__input:focus {
    outline: 2px solid rgba(0,0,0,0.3);
}
.formulario__input:focus + .formulario__label{

    margin-top: -130px;

}
.formulario__input{
    padding: 15px;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}
.formulario__label{

    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: 15px;
    font-family: cursive;
    font-style: oblique;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
    text-align: center;

}
.formulario__submit{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.fijar{
    margin-top:-135;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(128, 128, 128);
    
   
  }
  th {
    letter-spacing: 5px;
    text-align: center;
    
  }
  
  td {
    
    text-align: left;
    font-size: 20px;
  }
  tbody tr:nth-child(odd) {
    background-color:#03a9f4 celeste;
  }
  
  tbody tr:nth-child(even) {
    background-color:#00e5ff acento cian-3;
  }
  

  table {
    background-color:#1de9b6 acento verde azulado-3;
  }
  #mymap{
    border: 5px solid rgb(0, 0, 0);



  }
 
table, td, th {
    border: 2px solid orange;
    padding:20px;
    width: 150px;
    height: 25px;

}
button{
    color:white;
    font-weight:bold;
    background-color: blueviolet ;
    width:100px;
    height:25px;
    font-size:15px;
}

h1{

    display: inline-block;
    position: aligne-center;
    
}
h2::after,h2::before{
    content:'';
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: rgb(0, 0, 0);
   
}
h2::before{
    left:-400px;

}
h2::after{
 right:-150px
}
.container{

    width: 350px;
    height: 450px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:20px;
    position: absolute;
    font-family:'Times New Roman', Times, serif;
    
}

