h1{

    display: inline-block;
    position: aligne-center;
    
}
h2::after,h2::before{
    content:'';
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    top: 0.6em;
}
h2::before{
    left:-400px;

}
h2::after{
 right:-150px
}

#mostrar-evento{
    width:250px;
    height: 50px;
    font-size: 30px;
    border-color: rgb(0, 0, 0);
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight: 120;
    font-family: 'Times New Roman', Times, serif;

}
#Añadir-evento{
    width:250px;
    height: 50px;
    font-size: 30px;
    border-color: black;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight: 150;
    font-family: 'Times New Roman', Times, serif;
    


}
#lugar{
    width: 450px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(34, 104, 2);
    border-color: rgb(0, 0, 0);
    margin-top: 20px;
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
#tipo{
  width: 450px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(34, 104, 2);
  border-color: rgb(0, 0, 0);
  margin-top: 20px;
  color:rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  position: relative;
}
#fecha{
    width:450px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(34, 104, 2);
    border-color: rgb(0, 0, 0);
    margin-top: 20px;
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}
#hora{
  width: 450px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(34, 104, 2);
  border-color: rgb(0, 0, 0);
  margin-top: 20px;
  color:rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
}
body{
    text-align: center;
    
}
p{
    color: black;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: orangered;
    background: rgb(169, 240, 228);
}
.container{

    width: 350px;
    height: 450px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:20px;
    position: absolute;
    font-family:'Times New Roman', Times, serif;
    
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(128, 128, 128);
    
   
  }
  th {
    letter-spacing: 5px;
    text-align: center;
    
  }
  
  td {
    
    text-align: left;
    font-size: 20px;
  }
  tbody tr:nth-child(odd) {
    background-color:#03a9f4 celeste;
  }
  
  tbody tr:nth-child(even) {
    background-color:#00e5ff acento cian-3;
  }
  

  table {
    background-color:#1de9b6 acento verde azulado-3;
  }
  #map{
    border: 5px solid rgb(0, 0, 0);



  }
 
  table{
    border-collapse: collapse;
}
table, td, th {
    border: 2px solid orange;
    padding:20px;
    width: 150px;
    height: 25px;
    margin: auto;
}
button{
    color:white;
    font-weight:bold;
    background-color: blueviolet ;
    width:100px;
    height:25px;
    font-size:15px;
}


 
 