.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    }
    .slider ul{
    display: flex;
        padding: 0%;
        width: 350%;
        animation: cambio 30s infinite alternate linear;
      
    }
    
    .slider li{
        width: 60%;
        list-style: none;
    }
    
    .slider img{
    width: 100%;
    }
    
    @keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left:0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    100%{margin-right: 300%;}
    }
    .slider2{
        width: 30%;
        margin: auto;
        overflow: hidden;
        }
       body{
           text-align: center;
           
       }
  

html{

    border: 10px solid rgb(34, 97, 83);

}
p{
        color: black;
        font-size: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        background: rgb(169, 240, 228);
    }

body{
    text-align: center;
    
}
h1{

 display: inline-block;
 position: relative;
 
}



h1::before{
 left:-140px;

}
h1::after{
right:-140px
}


h1::after,h1::before{
    content:'';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;
}
* {
    padding: 0px;
    margin:0px;
}   


#mymap{
    width: 600px;  
    height: 300px;
    margin-left: auto;
    margin-right:auto;
    border: 5px solid rgb(0, 0, 0);

  }
 h2{
 font-family:cursive;
  }


  